*.layout
*.depend
Fractile.layout
Fractile.depend

bin/DebugWin/Fractile.exe
bin/ReleaseWin/Fractile.exe
*.o

*stderr.txt
*stdout.txt
*.orig
*Thumbs.db
bin/DebugWin/error.txt
bin/DebugWin/gamelog.txt
bin/ReleaseWin/error.txt
bin/ReleaseWin/gamelog.txt
screenshots/Fractile 1.0 screenshots.zip

build/
error.txt
gamelog.txt

