bin/Debug/debug.txt
bin/Debug/error.txt
bin/Release/debug.txt
bin/Release/error.txt
*.layout
*.depend
bin/Debug/DataLogger.exe
bin/Release/DataLogger.exe
*.o

*stderr.txt
*stdout.txt
*.orig
*Thumbs.db
*.orig
*/*.orig